body{
  font-family: Arial, sans-srif;
  margin: 0;
  padding: 0;
  background: #f4f4f4 ;
}

header{
  background-color: #8A2BE2;
  color: #FFFFFF;
  padding: 1em 0;
  text-align: center;
}

nav{
  background-color: #ff0;
  overflow: hidden;
}

nav a{
  color: #f2f22;
  display: block;
  padding: 14px 16px;
  float: left;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: 1s all;
}

nav a:hover{
  background-color: #dddddd;
  color: black;
}